TABLE.downloads {
	background-color : #FFFFFF;
}
H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; MARGIN: 0px 0px 5px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none; paddin: 0px
}
A.topic_hdr,A.topic_hdr:VISITED {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; MARGIN: 0px 0px 5px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none; paddin: 0px
}
P.news {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
A.top_menu,A.top_menu:VISITED {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.top_menu:HOVER {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #f7941d; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
.top_menu {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
FONT.news_date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f7941d; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
A.news_hdr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f7941d; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
A.news_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f7941d; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.topic_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0054a6; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.topic_title,A.topic_title:VISITED {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
A.topic_title:HOVER {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f7941d; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
FONT.topic_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.news_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; COLOR: #0054a6; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.news_link {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
P.pageauthor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #c1c1c1; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
A.pageauthor {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #c1c1c1; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 14px
}
TEXTAREA {
	FONT-SIZE: 14px
}
.quot {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #cccccc; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
SPAN.MainTitle{
	font-size : 200%;
}
A.MainTitle,A.MainTitle:VISITED{
	color : #FFFFFF;
	text-decoration : none;
}
A.MainTitle:HOVER{
	background-color : transparent;
	color : #f7941d
}
DIV.MainTitle{
	color : #FFFFFF;
	float : left;
	margin : 0.1em 0.3em 0 0.3em;
	padding : 0 0.2em 0 0.2em;
}
A.LangSwitch,A.LangSwitch:VISITED{
	color : #CFCFCF;
	text-decoration : none;
        FONT-WEIGHT: 400; FONT-SIZE: 12px; 
}
A.LangSwitch:HOVER{
	color : #FFFFFF;
	text-decoration : none;
        FONT-WEIGHT: 700; FONT-SIZE: 12px; 
}
DIV.LangSwitch{
	color : #FFFFFF;
	text-decoration : none;
        FONT-WEIGHT: 700; FONT-SIZE: 12px; 
}
BODY{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.GB {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.GB {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; COLOR: #818181; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
